.parallax-slider {
  position: relative;
  top: 0px;
  left: 0;
  right: 0;
  height: 100vh;
  max-height: 675px; }
  .parallax-slider .go-left, .parallax-slider .go-right {
    position: absolute;
    top: 0;
    height: 100%;
    width: 7%;
    cursor: pointer;
    transition: all 0.3s; }
  .parallax-slider .go-left {
    left: 0;
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.18) 0%, rgba(0, 0, 0, 0) 100%); }
    .parallax-slider .go-left:before {
      content: url(../images/left.svg);
      display: block;
      width: 40px;
      height: 73px;
      position: absolute;
      top: calc(50% - 46px);
      left: 20%; }
    .parallax-slider .go-left:hover {
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%); }
  .parallax-slider .go-right {
    right: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.18) 100%); }
    .parallax-slider .go-right:before {
      content: url(../images/right.svg);
      display: block;
      width: 40px;
      height: 73px;
      position: absolute;
      top: calc(50% - 46px);
      right: 20%; }
    .parallax-slider .go-right:hover {
      background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
      background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%);
      background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 100%); }
  .parallax-slider .slider-wrapper {
    white-space: nowrap;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%; }
  .parallax-slider .slide {
    display: inline-block;
    width: 100%;
    flex-shrink: 0;
    transition: 0.9s ease-in-out transform;
    backface-visibility: hidden;
    background-size: auto 125%;
    background-repeat: no-repeat;
    height: 100%; }
    .parallax-slider .slide:before {
      content: '';
      display: inline-block;
      height: 50%; }
  .parallax-slider .slide-active .slider-text {
    transform: translatey(0);
    opacity: 1; }
  .parallax-slider .slider-text {
    padding: 20px;
    transition: 0.4s;
    transition-delay: 0.8s;
    opacity: 0;
    transform: translatey(200%);
    margin: 0 7% 0; }
  .parallax-slider .slide1 {
    background: url("../../public/images/01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax-slider .slide2 {
    background: url("../../public/images/02.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax-slider .slide3 {
    background: url("../../public/images/03.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .parallax-slider .slide-indicator {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translatex(-50%); }
    .parallax-slider .slide-indicator .indicator {
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      margin: 0 0.3rem 2rem;
      border-radius: 50%;
      background: #ffcc00;
      cursor: pointer;
      transition: background 0.3s; }
      .parallax-slider .slide-indicator .indicator.active {
        background: rgba(0, 0, 0, 0);
        border: 2px solid #ffcc00;
        width: 1.2rem;
        height: 1.2rem;
        top: -1px; }
      .parallax-slider .slide-indicator .indicator.active:before, .parallax-slider .slide-indicator .indicator:hover:before {
        transform: translate(-50%, -50%) scale(1); }
  .parallax-slider .content {
    background-color: rgba(16, 22, 29, 0.8);
    height: 102%;
    width: 100%;
    color: #fff;
    display: flex;
    position: relative;
    top: -52%;
    right: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: normal;
    text-align: center; }

@media screen and (max-width: 768px) {
  .parallax-slider .go-left:before, .parallax-slider .go-right:before {
    content: none; }
  .parallax-slider .content .caption {
    margin: 1.4rem 1rem 1.2rem; }
  .parallax-slider .content .topic {
    margin: 0px 1rem 1.7rem; }
  .parallax-slider .slide3 {
    background: url("../../public/images/03-mob.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; } }
