.transition, a, .account-section .account-type {
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: auto; }

.line {
  width: 135px;
  height: 2px;
  background: #ffcc00;
  margin-bottom: 2.5em; }
  .line.white {
    background: #fff; }

.long-line {
  width: 100%;
  height: 1px;
  background: #fff;
  margin: 1.8rem 0; }

.about-info {
  font-weight: 300;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif; }

.btn, .btn-bordered {
  font-family: "Raleway", sans-serif;
  color: #10161d;
  cursor: pointer;
  border: 1px solid #ffcc00;
  border-radius: 2px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  background: #ffcc00;
  font-weight: 700;
  transition: all .5s; }
  .btn.sm, .sm.btn-bordered {
    padding: 11px 0 11px;
    width: 170px; }
  .btn.lg, .lg.btn-bordered {
    padding: 16px 0 16px;
    width: 230px; }
  .btn:hover, .btn-bordered:hover {
    color: #fff;
    background: rgba(255, 204, 0, 0.2); }

.btn-bordered {
  color: #fff;
  border: 1px solid #ffcc00;
  background: rgba(255, 255, 255, 0); }
  .btn-bordered:hover {
    background: rgba(255, 204, 0, 0.2); }

.flex {
  display: box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.flex-column {
  display: flex;
  -webkit-flex-flow: column wrap; }

.hidden-lg {
  display: none !important; }

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none !important; }
  .hidden-lg {
    display: block !important; }
  .container {
    padding: 0 10px; }
  .btn.lg, .lg.btn-bordered {
    font-size: 1.3em; } }

* {
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  position: relative; }

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  line-height: normal;
  font-size: 14px; }

h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 3.6em;
  margin: 3rem 0 1.2rem; }

h3 {
  font-weight: 400;
  font-size: 1.6em;
  margin: 0px 0 1.7rem; }

a {
  text-decoration: none;
  color: #fff; }
  a:hover {
    color: #ffcc00; }

.wrap {
  flex: 1 0 auto; }

.form .form-control {
  display: block;
  width: 100%;
  padding: .45rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #10161d;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 3px;
  font-family: "Raleway", sans-serif; }
  .form .form-control::placeholder {
    color: #6a7279;
    font-family: "Raleway", sans-serif; }
  .form .form-control:focus {
    border: 1px solid #ffcc00;
    outline: 0; }

@media screen and (max-width: 768px) {
  body {
    font-size: 11px; }
  h2 {
    font-size: 2.6em;
    margin: 1.4rem 0 1.2rem; } }

header {
  padding: 35px 0 10px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  color: #fff; }
  header .login {
    text-align: right; }
    header .login .login-item {
      margin: 3px 0 0 25px; }

.menu .menu-item {
  display: inline-block;
  padding: 38px 0 0 30px;
  font-size: 1.15em; }

@media screen and (max-width: 1058px) {
  .menu .menu-item {
    padding: 38px 0 0 10px;
    font-size: 1em; } }

@media screen and (max-width: 900px) and (min-width: 769px) {
  header .logo {
    width: 145px; }
  .menu {
    position: absolute;
    width: 590px;
    right: 0; } }

@media screen and (max-width: 768px) {
  header {
    padding: 10px 0 10px; }
    header .logo {
      width: 50px; }
    header .login {
      display: flex;
      align-items: flex-start; }
      header .login .login-item {
        margin: 2px 0 0 10px; }
      header .login .btn, header .login .btn-bordered {
        width: 100px; }
      header .login .btn-bordered {
        width: 62px; }
      header .login .menu-btn img {
        width: 40px; }
  .menu {
    display: none;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 65px;
    left: 0px;
    right: 0px;
    border-top: 1px solid #ffcc00;
    border-bottom: 1px solid #ffcc00;
    background: #10161d; }
    .menu.container {
      display: none;
      padding: 5px 5px 0; }
    .menu .search {
      display: none; }
    .menu .menu-item {
      text-align: center;
      font-size: 1.5em;
      width: 100%;
      padding: 10px 0px 10px;
      border-bottom: 1px solid rgba(255, 204, 0, 0.2); }
      .menu .menu-item:before {
        content: none; }
    .menu .last-item {
      border-bottom: none; } }

.digits-section {
  background: #10161d;
  padding: 2.9rem 0 3.2rem;
  text-align: center; }
  .digits-section .flex {
    align-items: baseline; }
  .digits-section .topic {
    font-family: "Raleway", sans-serif;
    color: #fff;
    margin: 1em 0 0.5em; }
    .digits-section .topic .block {
      display: block; }
  .digits-section .number-block {
    color: #ffcc00;
    font-size: 3.4em;
    font-weight: 700; }

@media screen and (max-width: 1058px) {
  .digits-section .number-block {
    font-size: 3em; } }

@media screen and (max-width: 900px) {
  .digits-section {
    padding: 1.9rem 0 2.1rem; }
    .digits-section .number-block {
      font-size: 2.4em; } }

@media screen and (max-width: 600px) {
  .digits-section {
    padding: 1.9rem 0 0; }
    .digits-section .flex .digit-item {
      flex-basis: 50%; }
    .digits-section .number-block {
      font-size: 3.4em;
      margin-bottom: 1em; } }

@media screen and (max-width: 470px) {
  .digits-section .flex .digit-item {
    flex-basis: 100%; }
  .digits-section .topic {
    margin: 0.5em 0 0.1em; }
    .digits-section .topic .block {
      display: inline-block; } }

.account-section .account-type {
  background-color: #1c2531;
  color: #fff;
  border: 1px solid #ffff00;
  flex-basis: 300px;
  max-width: 370px;
  flex-grow: 1;
  padding: 0 0 4.4rem;
  position: relative; }
  .account-section .account-type.popular:before {
    content: url(../images/popular.png);
    display: block;
    position: absolute;
    left: -10px;
    top: -10px; }
  .account-section .account-type .account-conditions {
    list-style: none;
    font-weight: 300;
    font-size: 1rem;
    padding: 1.3rem 1.6rem; }
    .account-section .account-type .account-conditions .conditions-item {
      position: relative;
      padding: 0 0 0.9rem 25px; }
      .account-section .account-type .account-conditions .conditions-item:before {
        position: absolute;
        top: 2px;
        left: 0;
        vertical-align: middle;
        display: inline-block;
        width: 17px;
        height: 17px;
        content: url(../images/check-box.svg); }
  .account-section .account-type:nth-child(2) {
    margin: 0 10px; }
  .account-section .account-type:hover {
    -ms-transform: scale(1.05, 1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05, 1.05);
    /* Safari 3-8 */
    transform: scale(1.05, 1.05); }

.account-section .account-name {
  padding: 1rem 1.6rem 1.1rem;
  background-color: #10161d;
  font-family: "Raleway", sans-serif;
  font-size: 2.3em;
  text-align: center;
  border-bottom: 1px solid #ffff00;
  font-weight: 300; }
  .account-section .account-name .line {
    margin: 1.1rem auto; }

.account-section .about-account {
  text-align: center;
  font-weight: 300;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif; }

.account-section .btn, .account-section .btn-bordered {
  position: absolute;
  bottom: 1.4rem;
  left: calc(50% - 115px); }

@media screen and (max-width: 1077px) and (min-width: 997px) {
  .account-section .account-type ul {
    font-size: 0.9rem; }
  .account-section .account-name {
    font-size: 1.8em; }
  .account-section .about-account {
    font-size: 0.9rem; } }

@media screen and (max-width: 997px) {
  .account-section .account-type {
    flex-basis: 100%;
    max-width: 100%; }
    .account-section .account-type:nth-child(2) {
      margin: 2.5em 0; } }

.adaptive-section {
  padding-top: 3rem;
  margin-top: 4.2rem;
  height: 636px;
  background-image: url(../images/devices.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .adaptive-section .about-info {
    max-width: 340px; }
  .adaptive-section .caption {
    margin: 0 0 1.2rem; }

@media screen and (max-width: 1100px) {
  .adaptive-section {
    height: 530px; } }

@media screen and (max-width: 970px) {
  .adaptive-section {
    height: 450px;
    background-size: 160%;
    background-color: #10161d; } }

@media screen and (max-width: 820px) {
  .adaptive-section {
    height: 400px; } }

@media screen and (max-width: 768px) {
  .adaptive-section {
    padding-top: 1.4rem;
    margin-top: 1.6rem;
    background-position: bottom; } }

.payment-section {
  margin-bottom: 4.2rem; }
  .payment-section .flex {
    align-items: center; }
    .payment-section .flex .payment-item {
      flex-basis: 100px;
      flex-grow: 1; }

@media screen and (max-width: 1200px) {
  .payment-section img {
    width: 90%; } }

@media screen and (max-width: 650px) {
  .payment-section {
    margin-bottom: 1.6rem; }
    .payment-section .flex .payment-item {
      flex-basis: 33%;
      margin-bottom: 1rem; } }

footer {
  flex: 0 0 auto;
  background: #10161d;
  background-image: url(../images/map.png);
  background-repeat: no-repeat;
  background-position: left;
  padding: 3rem 0 1.2rem;
  box-sizing: border-box;
  color: #fff; }
  footer .form-container {
    background: rgba(106, 114, 121, 0.5);
    padding: 1.2rem 1.2rem .6rem 1.2rem;
    width: 100%;
    max-width: 600px;
    flex-basis: 400px;
    flex-grow: 1; }
    footer .form-container .form-caption {
      font-size: 2rem;
      margin: 0 0 1.2rem;
      font-family: "Raleway", sans-serif;
      font-weight: 300; }
  footer .form-group {
    flex-grow: 1; }
    footer .form-group:first-child {
      margin-right: 1.2rem; }
    footer .form-group .form-control, footer .form-group .btn, footer .form-group .btn-bordered {
      margin-bottom: 1.2rem; }
    footer .form-group .btn, footer .form-group .btn-bordered {
      width: 100%; }
    footer .form-group textarea {
      height: 100px; }
  footer .links-container {
    margin: 1.2rem 1.2rem 1.8rem 1.2rem;
    flex-basis: 480px;
    font-family: "Raleway", sans-serif;
    font-size: 1rem; }
    footer .links-container .links {
      list-style: disc;
      margin-bottom: 1rem;
      padding-left: 1.2rem; }
      footer .links-container .links .link-item {
        padding-bottom: .7rem; }
    footer .links-container .mailto {
      text-decoration: underline;
      display: inline-block;
      position: relative;
      padding-left: .5rem; }
      footer .links-container .mailto:before {
        content: url(../images/mail.svg);
        display: inline-block;
        width: 1.125em;
        height: 0.875em;
        position: relative;
        left: -.5em;
        top: 2px; }
  footer .disclaimer {
    font-size: 0.8rem;
    color: #b7b5b5;
    font-weight: 300; }
    footer .disclaimer .disclaimer-item {
      margin-bottom: 1.2rem; }

@media screen and (max-width: 1058px) {
  footer .form-container {
    flex-basis: 300px; }
  footer .form {
    flex-direction: column; }
  footer .form-group:first-child {
    margin-right: 0; } }

@media screen and (max-width: 906px) {
  footer .form-container .form-caption {
    font-size: 1.6rem; }
  footer .links-container {
    margin: 1.2rem 1.2rem 0 1.2rem;
    flex-basis: 280px;
    flex-grow: 1;
    font-size: .8rem; }
    footer .links-container .mailto {
      padding-left: .8rem; }
      footer .links-container .mailto:before {
        left: -.8em; } }

@media screen and (max-width: 656px) {
  footer {
    padding: 2rem 0 1.2rem; }
    footer .links-container {
      font-size: 1rem; }
      footer .links-container .mailto {
        padding-left: .5rem; }
        footer .links-container .mailto:before {
          left: -.5em; } }
