.account-section {
	.account-type {
		@extend .transition;
		background-color: $gray-color;
		color: #fff;
		border: 1px solid #ffff00;
		flex-basis: 300px;
		max-width: 370px;
		flex-grow: 1;
		padding: 0 0 4.4rem;
		position: relative;
		&.popular {
			&:before {
				content: url(../images/popular.png);
				display: block;
				position: absolute;
				left: -10px;
				top: -10px;
			}
		}
		.account-conditions {
			list-style: none;
			font-weight: 300;
			font-size: 1rem;
			padding:  1.3rem 1.6rem;
			.conditions-item {
				position: relative;
				padding: 0 0 0.9rem 25px;
				&:before {
				    position: absolute;  
				    top: 2px;  
				    left: 0;    
				    vertical-align: middle;
				    display: inline-block;
				    width: 17px;
				    height: 17px;
				    content: url(../images/check-box.svg);
				}
			}
		}
		&:nth-child(2) {
			margin: 0 10px;
		}
		&:hover {
			-ms-transform: scale(1.05,1.05); /* IE 9 */
		    -webkit-transform: scale(1.05,1.05); /* Safari 3-8 */
		    transform: scale(1.05,1.05);
		}
	}
	.account-name {
		padding: 1rem 1.6rem 1.1rem;
		background-color: $main-color;
		font-family: $font-second;
		font-size: 2.3em;
		text-align: center;
		border-bottom: 1px solid #ffff00;
		font-weight: 300;
		.line {
			margin: 1.1rem auto;
		}
	}
	.about-account {
		text-align: center;
		font-weight: 300;
		font-size: 1rem;
		font-family: $font-main;
	}
	.btn {
		position: absolute;
	    bottom: 1.4rem;
	    left: calc(50% - 115px);
	}
}

@media screen and (max-width: 1077px) and (min-width: 997px){
	.account-section {
		.account-type {
			ul {
				font-size: 0.9rem;
			}
		}
		.account-name {
			font-size: 1.8em;
		}
		.about-account {
			font-size: 0.9rem;
		}
	}
}

@media screen and (max-width: 997px) {
	.account-section {
		.account-type {
			flex-basis: 100%;
			max-width: 100%;
			&:nth-child(2) {
				margin: 2.5em 0;
			}
		}
	}
}