.adaptive-section {
	padding-top: 3rem;
	margin-top: 4.2rem;
	height: 636px;
	background-image: url(../images/devices.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	.about-info {
		max-width: 340px;
	}
	.caption {
		margin: 0 0 1.2rem;
	}
}

@media screen and (max-width: 1100px) {
	.adaptive-section {
		height: 530px;
	}
}
@media screen and (max-width: 970px) {
	.adaptive-section {
		height: 450px;
		background-size: 160%;
		background-color: $main-color;
	}
}
@media screen and (max-width: 820px) {
	.adaptive-section {
		height: 400px;
	}
}
@media screen and (max-width: 768px) {
	.adaptive-section {
		padding-top: 1.4rem;
		margin-top: 1.6rem;
		background-position: bottom;
	}
}