.transition {
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
}

.container {
	max-width: 1230px;
	padding: 0 30px;
	margin: auto;
}

.line {
	width: 135px;
	height: 2px;
	background: $second-color;
	margin-bottom: 2.5em;
	&.white {
		background: #fff;
	}
}

.long-line {
	width: 100%;
	height: 1px;
	background: #fff;
	margin: 1.8rem 0;
}

.about-info {
	font-weight: 300;
	font-size: 1rem;
	font-family: $font-main;
}

.btn {
	font-family: $font-second;
	color: $main-color;
	cursor: pointer;
	border: 1px solid $second-color;
	border-radius: 2px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	-webkit-transition: all .5s; 
	background: $second-color;
	font-weight: 700;
	transition: all .5s;
	&.sm {
		padding: 11px 0 11px;
		width: 170px;
	}
	&.lg {
		padding: 16px 0 16px;
		width: 230px;
	}
	&:hover {
		color: #fff;
		background: rgba(255,204,0,0.2);
	}
}

.btn-bordered {
	@extend .btn;
	color: #fff;
	border: 1px solid $second-color;
	background: rgba(255,255,255,0);
	&:hover {
		background: rgba(255,204,0,0.2);
	}
}

.flex {
	display: box;
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-column {
	display: flex;
	-webkit-flex-flow: column wrap;
}

.hidden-lg {
	display: none !important;
}


@media screen and (max-width: 768px) {
	.hidden-sm {
		display: none !important;
	}
	.hidden-lg {
	    display: block !important;
	}
	.container {
		padding: 0 10px;
	}
	.btn {
		&.lg {
			font-size: 1.3em;
		}
	}
}
