.digits-section {
	background: $main-color;
	padding: 2.9rem 0 3.2rem;
	text-align: center;
	.flex {
		align-items: baseline;
	}
	.topic {
		font-family: $font-second;
		color: #fff;
		margin: 1em 0 0.5em;
		.block {
			display: block;
		}
	}
	.number-block {
		color: $second-color;
		font-size: 3.4em;
		font-weight: 700;
	}
}

@media screen and (max-width: 1058px) {
	.digits-section {
		.number-block {
			font-size: 3em;
		}
	}
}

@media screen and (max-width: 900px) {
	.digits-section {
		padding: 1.9rem 0 2.1rem;
		.number-block {
			font-size: 2.4em;
		}
	}
}

@media screen and (max-width: 600px) {
	.digits-section {
		padding: 1.9rem 0 0;
		.flex {
			.digit-item {
				flex-basis: 50%;
			}
		}
		.number-block {
			font-size: 3.4em;
			margin-bottom: 1em;
		}
	}
}

@media screen and (max-width: 470px) {
	.digits-section {
		.flex {
			.digit-item {
				flex-basis: 100%;
			}
		}
		.topic {
			margin: 0.5em 0 0.1em;
			.block {
				display: inline-block;
			}
		}
	}
}