footer {
	flex: 0 0 auto;
	background: $main-color;
	background-image: url(../images/map.png);
	background-repeat: no-repeat;
	background-position: left;
	padding: 3rem 0 1.2rem;
	box-sizing: border-box;
	color: #fff;
	.form-container {
		background: rgba(106, 114, 121, .5);
		padding: 1.2rem 1.2rem .6rem 1.2rem;
		width: 100%;
		max-width: 600px;
		flex-basis: 400px;
		flex-grow:1;
		.form-caption {
			font-size: 2rem;
			margin: 0 0 1.2rem;
			font-family: $font-second;
			font-weight: 300;
		}
	}
	.form-group {
		flex-grow: 1;
		&:first-child {
			margin-right: 1.2rem;
		}
		.form-control, .btn {
			margin-bottom: 1.2rem;
		}
		.btn {
			width: 100%;
		}
		textarea {
			height: 100px;
		}
	}
	.links-container {
		margin: 1.2rem 1.2rem 1.8rem 1.2rem;
		flex-basis: 480px;
		font-family: $font-second;
		font-size: 1rem;
		.links {
			list-style: disc;
			margin-bottom: 1rem;
			padding-left: 1.2rem;
			.link-item {
				padding-bottom: .7rem;
			}
		}
		.mailto {
			text-decoration: underline;
			display: inline-block;
			position: relative;
			padding-left: .5rem;
			&:before {
				content: url(../images/mail.svg);
				display: inline-block;
				width: 1.125em;
				height: 0.875em;
				position: relative;
				left: -.5em;
				top: 2px;
			}
		}
	}
	.disclaimer {
		font-size: 0.8rem;
		color: #b7b5b5;
		font-weight: 300;
		.disclaimer-item {
			margin-bottom: 1.2rem;
		}
	}
}

@media screen and (max-width: 1058px) {
	footer {
		.form-container {
			flex-basis: 300px;
		}
		.form {
			flex-direction: column;
		}
		.form-group {
			&:first-child {
				margin-right: 0;
			}
		}
	}
}
@media screen and (max-width: 906px) {
	footer {
		.form-container {
			.form-caption {
			    font-size: 1.6rem;
			}
		}
		.links-container {
			margin: 1.2rem 1.2rem 0 1.2rem;
			flex-basis: 280px;
			flex-grow: 1;
			font-size: .8rem;
			.mailto {
				padding-left: .8rem;
				&:before {
					left: -.8em;
				}
			}
		}
	}
}

@media screen and (max-width: 656px) {
	footer {
		padding: 2rem 0 1.2rem;
		.links-container {
			font-size: 1rem;
			.mailto {
				padding-left: .5rem;
				&:before {
					left: -.5em;
				}
			}
		}
	}
}
