header {
	padding: 35px 0 10px;
	position: absolute;
	top: 0;	
	right: 0;	
	left: 0;	
	z-index: 2;
	color: #fff;
	.login {
		text-align: right;
		.login-item {
			margin: 3px 0 0 25px;
		}
	}
}

.menu {
	.menu-item { 
		display: inline-block;
		padding: 38px 0 0 30px;
		font-size: 1.15em;
	}
}

@media screen and (max-width: 1058px) {
	.menu {
		.menu-item {
			padding: 38px 0 0 10px;
			font-size: 1em;
		}
	}
}

@media screen and (max-width: 900px) and (min-width: 769px) {
	header {
		.logo {
			width: 145px;
		}
	}
	.menu {
		position: absolute;
		width: 590px;
		right: 0;
	}
}

@media screen and (max-width: 768px) {
	header {
		padding: 10px 0 10px;
		.logo {
			width: 50px;
		}
		.login {
			display: flex;
			align-items: flex-start;
			.login-item {
			    margin: 2px 0 0 10px;
			}
			.btn {
				width: 100px;
			}
			.btn-bordered {
				width: 62px;
			}
			.menu-btn {
				img {
					width: 40px;
				}
			}
		}
	}
	.menu {
		display: none;
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: column;
		position: absolute;
		top: 65px;
		left: 0px;
		right: 0px;
		border-top: 1px solid $second-color;
		border-bottom: 1px solid $second-color;
		background: $main-color;
		&.container {
			display: none;
			padding: 5px 5px 0;
		}
		.search {
			display: none;
		}
		.menu-item {
			text-align: center;
			font-size: 1.5em;
			width: 100%;
			padding: 10px 0px 10px;
		    border-bottom: 1px solid rgba(255, 204, 0, 0.2);
			&:before {
				content: none;
			}
		}
		.last-item {
			border-bottom: none;
		}
	}
}