* {
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html,
body {
  height: 100%;
  position: relative;
}

body {
	display: flex;
  	flex-direction: column;
  	height: 100%;
	margin: 0 auto;
	font-family: $font-main;
	line-height: normal;
	font-size: 14px;
}

h2 {
	font-family: $font-second;
	font-weight: 700;
	font-size: 3.6em;
	margin: 3rem 0 1.2rem;
}

h3 {
	font-weight: 400;
	font-size: 1.6em;
	margin: 0px 0 1.7rem;
}

a {
	@extend .transition;
	text-decoration: none;
	color: #fff;
	&:hover {
		color: $second-color;
	}
}

.wrap {
	flex: 1 0 auto;
}

.form {
	.form-control {
		display: block;
		width: 100%;
		padding: .45rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: $main-color;
		background-color: #fff;
		border: 1px solid #ced4da;
		border-radius: 3px;
		font-family: $font-second;
		&::placeholder {
		    color: #6a7279;
		    font-family: $font-second;
		}
		&:focus {
		    border: 1px solid $second-color;
		    outline: 0;
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		font-size: 11px;
	}
	h2 {
		font-size: 2.6em;
		margin: 1.4rem 0 1.2rem;
	}
}
