.payment-section {
	margin-bottom: 4.2rem;
	.flex {
		align-items: center;
		.payment-item {
			flex-basis: 100px;
			flex-grow: 1;
		}
	}
}

@media screen and (max-width: 1200px) {
	.payment-section {
		img {
			width: 90%;
		}
	}
}

@media screen and (max-width: 650px) {
	.payment-section {
		margin-bottom: 1.6rem;
		.flex {
			.payment-item {
				flex-basis: 33%;
				margin-bottom: 1rem;
			}
		}
	}
}
